.form{
   padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 0px 8px #676767ab;
}
h2{
    text-align: center;
   
    margin-bottom: 20px;
}
.calculate{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form input{
    padding: 6px;
    border: 1px solid rgb(197, 197, 197);
}
.form button{
    color: white;
    background-color: rgb(48, 152, 227);
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    border: 1px solid transparent;
    transition: .3s;
    cursor: pointer;
    font-weight: 500;
}
.form button:hover{
    background-color: white;
    color: rgb(48, 152, 227);
    border: 1px solid rgb(48,152,227);
}